<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Mobsite</title>
</head>

<body id="innerContent">
<div id="myGestureListener" data-not-selectable="true">
    <span id="gestureStatus"></span> : (<span id="x"></span>,<span id="y"></span>)
</div>
<div class="container-fluid" data-not-selectable="true">
    <div id="slide0" class="row">
        <div class="col-md-12">
            <h1>Canvas Pad</h1>
        </div>
    </div>
    <div id="slide1" class="row">
        <div class="col-md-5">
            <h2>Beautifully designed,<br/> gracefully used.</h2>
        </div>
        <div class="col-md-7">
            <img style="width:100%" src="image/01.jpg"/>
        </div>
    </div>
    <div id="slide2" class="row">
        <div class="col-md-7">
            <img style="width:100%" src="image/02.jpg"/>
        </div>
        <div class="col-md-5">
            <h2>Finger-Oriented.</h2>

            <p>為了讓使用者感受到最方便的操作方式
                <br/>我們使用了最接近直覺的觸控手勢來操作網頁上的各個元件。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Canvas Pad is for</h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Designer</h3>
                    <img src="image/03.jpg" style="width:100%"/>
                </div>
                <div class="col-md-4">
                    <h3>Programmer</h3>
                    <img src="image/04.jpg" style="width:100%"/>
                </div>
                <div class="col-md-4">
                    <h3>UX Designer</h3>
                    <img src="image/05.jpg" style="width:100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>For more information, check the links below</h2>
    </div>
    <div class="row">
        <p style="text-align:right;">NMLab Group 1.
            <br/>All rights reserved.</p>
    </div>
</div>
<style>
    #innerContent img {
        width: 100%;
    }
</style>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>
